 <h2 class="page-header">Dashboard</h2>

<p>Welcome to your dashboard</p>  
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">hello {{user.mobile_no}}!! have a good day</h3>
        <h2>{{user.Adderess}}</h2>
        <h2>{{user.City}}</h2>
        <h2>{{user.aadhar1}}</h2>
      </div>
